@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 999px) {
  .bg-fixed {
    background-image: url("../public/Assets/background-image-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Media query for desktop screens */
@media (min-width: 1000px) {
  .bg-fixed {
    background-image: url("../public/Assets/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
